---
import Layout from '../layouts/Layout.astro';
import Data from "../json/data.json";
import CardCategory from '../components/CardCategory.astro';
import Image from 'astro/components/Image.astro';
const homeData = Data.home;
---

<Layout title="Welcome to Astro.">
  <h1 class="uppercase text-[2rem] leading-[2.925rem] text-purple-200 mt-12 text-center">hạng mục bình chọn</h1>
  <div class="mt-9 mx-auto max-w-[1100px]">
    {homeData.map((item,idx)=>(
      <Fragment>
        {idx === 0 ? (
          <CardCategory candidates={item.candidates} category={item.category} index={idx} wrapperClass='bg-pink-light'/>
        ) : (
          <CardCategory candidates={item.candidates} category={item.category} index={idx} wrapperClass='border-b border-gray-300'/>
        )}
      </Fragment>
    ))}
  </div>
  <Image src="/images/home-footer.jpg" width={800} height={213} alt="banner chân trang bước nhảy hoàng vũ" class="aspect-[800/213] mx-auto mt-[324px] mb-[386px]"/>
</Layout>
