---
import Image from 'astro/components/Image.astro';
import Button from './Button.astro';

interface ICandidate {
  _id:number;
  name_female: string;
  name_male: string;
  image_female: string;
  image_male: string;
}

interface ICategory {
  title: string;
  description: string;
  slug: string;
  candidates?: ICandidate[];
}

interface Props {
  category: ICategory;
  candidates: ICandidate[];
  index: number;
  wrapperClass?:string;
}

const { category, candidates, index, wrapperClass="" } = Astro.props;

/**
 *
 * @param _props
 * category.title: tiêu đề hạng mục
 * category.description: mô tả hạng mục
 * category.slug: url hạng mục
 * candidates: mảng danh sách ứng viên
 * candidates.name_female: tên nữ ứng viên
 * candidates.name_male: tên nam ứng viên
 * candidates.image_female: ảnh nữ ứng viên
 * candidates.image_male: ảnh nam ứng viên
 * index: vị trí hạng mục
 */
---
<div class="flex items-center justify-between text-purple-dark text-2xl leading-[1.3] py-6 px-9" class:list={wrapperClass}>
  <div class="flex items-center">
    <p class={`text-xl leading-[1.3] mr-[54px] ${index===0 ? "invisible" : ""}`}>{index}</p>
    <div>
      <h2>{category.title}</h2>
      <div class="text-purple-200 text-sm leading-[1.3] font-light mt-1">{category.description}</div>
    </div>
  </div>
  <div class="flex ml-auto mr-14">
    {candidates.map((cadidate,idx)=>(
      <div class="text-center relative ml-5">
        <Image src={cadidate.image_female} width={64} height={56} alt="Ngoc Hang" class="aspect-[64/55] rounded"/>
        <p class="text-[0.5rem] text-purple-dark font-light mt-2">{cadidate.name_female}</p>
        <div class="absolute text-xs bg-purple-dark text-white py-[2px] px-2 left-[-6px] top-10">{idx}</div>
      </div>
    ))}
  </div>
  <Button text="Bình chọn" icon={{ src:"/icons/arrow.svg", width: 16, height: 16, class:"ml-[10px]" }} wrapperClass="text-white text-xs flex px-4 py-2 rounded-[20px] bg-purple-light uppercase" wrapperElement='a' url={category.slug} titleClass='-mt-[0.16em]'/>
</div>